{% extends 'index.html' %}

{%  block content %}
<!link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/app/static/css/timeliner.css"/>

<div class="container">
<div class="row">

 <div class="panel-timeline" >
 <div class="timeline">
 <div class="timeline-content">
 <span class="date">
 <span class="day">27</span>
 <span class="month">Апр</span>
 <span class="year">2017</span>
 </span>
 <h2 class="title"><span class="glyphicon glyphicon-asterisk"></span> Тимелине Бутстрап</h2>
 <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus, quam non pellentesque consequat, massa justo elementum nunc, ac efficitur tortor nunc sit amet dolor. <a href="http://bootstraptema.ru/" target="_blank">BootstrapTema</a></p>
 </div>
 </div>

 <div class="timeline">
 <div class="timeline-content">
 <span class="date">
 <span class="day">26</span>
 <span class="month">Апр</span>
 <span class="year">2017</span>
 </span>
 <h2 class="title"><span class="glyphicon glyphicon-phone"></span> Адаптивный дизайн</h2>
 <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus, quam non pellentesque consequat, massa justo elementum nunc, ac efficitur tortor nunc sit amet dolor.</p>
 </div>
 </div>

 <div class="timeline">
 <div class="timeline-content">
 <span class="date">
 <span class="day">25</span>
 <span class="month">Апр</span>
 <span class="year">2017</span>
 </span>
 <h2 class="title"><span class="glyphicon glyphicon-tint"></span> Выбор расцветки</h2>
 <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus, quam non pellentesque consequat, massa justo elementum nunc, ac efficitur tortor nunc sit amet dolor.</p>
 </div>
 </div>

 <div class="timeline">
 <div class="timeline-content">
 <span class="date">
 <span class="day">24</span>
 <span class="month">Апр</span>
 <span class="year">2017</span>
 </span>
 <h2 class="title"><span class="glyphicon glyphicon-heart-empty"></span> Простая установка</h2>
 <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus, quam non pellentesque consequat, massa justo elementum nunc, ac efficitur tortor nunc sit amet dolor.</p>
 </div>
 </div>

 </div>

</div><!-- ./row -->
</div><!-- ./container -->
{% endblock content %}