{% extends 'index.html' %}

{% block nav %}
      <a class="nav-itme"></a>
      <a class="nav-item nav-link" href="/">My Tasks<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="timeliner">TimeLiner</a>
      <a class="nav-item nav-link" href="vidicaps">Vidicaps info</a>
      <a class="nav-item nav-link" href="tenders">Tenders info</a></div>
      <div class="navbar-nav col-md-1" align="right">
      <a class="nav-item nav-link" href="logout">Logout</a>
{% endblock %}

{%  block content %}
<!link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/app/static/css/timeliner.css"/>

<!------ Include the above in your HEAD tag ---------->
<br>
    <br>
<div class="container">
    <ul class="timeline">
        {% for item in not_complite_task %}
          <li>
          <div class="timeline-badge {% if item.is_complete %}info {% else %} danger{% endif %}"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{ item.task_name }}</h4>
                <p><i class="glyphicon glyphicon-time"></i>{{ item.deadline_date }}</p>
            </div>
            <div class="timeline-body">
                <p>Tag:{{ item.tags }}</p>
                <p>Note:{{ item.note }}</p>
                <h5>{% if item.is_complete %}Complite{% endif %}</h5>
            </div>
          </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}